:root {
  --color-primary: #71aa8f;
  --color-secondary: #ef6f6c;
  --color-dark: #6a687a;
  --color-light: #f4edea;
  --color-gray-light: #f3f3f3;

  --color-primary-light: #e0ebe6;
  --color-secondary-light: #f3e5e5;
}
